<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width = device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/fb636de2b6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>home_page</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="#">Code Organizer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse menu-bar" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item notification">
            <button class="btn" type="button">
              <i class="far fa-bell"></i>
            </button>
          </li>
          <li class="nav-item dropdown">
            <button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <span><span><i class="far fa-user"></i> user_name</span></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#"> <span><i class="fas fa-user-graduate"></i></span> &nbsp Profile</a>
              </li>
              <li><a class="dropdown-item" href="#"> <span><i class="far fa-heart"></i></span> &nbsp My Lists</a></li>
              <li><a class="dropdown-item" href="#"> <span><i class="fas fa-sign-out-alt"></i></span> &nbsp Sign out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <hr class="seperator">

  <div class="container" style="padding-top:100px; padding-left: 100px;">

    <div class="row">
      <div class="col-8 container">
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-8">
            <input type="text" class="form-control search-bar" placeholder="Search question">
          </div>

          <div class="col-2 btn-group">
            <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Difficulty
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item">Easy</li>
              <li class="dropdown-item">Medium</li>
              <li class="dropdown-item">Hard</li>
            </ul>
          </div>

          <div class="col-2 btn-group">
            <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Topics
            </button>
            <ul class="dropdown-menu">
              <input type="text" class="form-control topic-search" placeholder="Filter Topics">
              <hr class="seperator" style="color: gray;">
              <div class="topic-list">
                <li class="dropdown-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Array
                    </label>
                  </div>
                </li>
                <hr class="seperator">
                <li class="dropdown-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Stack
                    </label>
                  </div>
                </li>
                <hr class="seperator">

                <li class="dropdown-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Queue
                    </label>
                  </div>
                </li>
                <hr class="seperator">
                <li class="dropdown-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Tree
                    </label>
                  </div>
                </li>
                <hr class="seperator">
                <li class="dropdown-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Array
                    </label>
                  </div>
                </li>
                <hr class="seperator">
                <li class="dropdown-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Stack
                    </label>
                  </div>
                </li>
                <hr class="seperator">
                <li class="dropdown-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Queue
                    </label>
                  </div>
                </li>
                <hr class="seperator">
                <li class="dropdown-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Tree
                    </label>
                  </div>
                </li>
                <hr class="seperator">
              </div>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Question</th>
                  <th scope="col">Difficulty</th>
                  <th scope="col">Solution</th>
                  <th scope="col">Privacy</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">1</th>
                  <td class="title"> <a href="">Remove K Digits</a> &nbsp; <a
                      href="https://leetcode.com/problems/remove-k-digits/"> <i class="fas fa-external-link-alt"></i>
                    </a>
                  </td>
                  <td>Medium</td>
                  <td><a href=""><i class="fas fa-file-alt"></i></a></td>
                  <td><i class="fas fa-lock"></i></td>
                  <td><a href=""><i class="far fa-trash-alt"></i></a></td>
                </tr>
                <tr>
                  <td scope="row">2</td>
                  <td class="title"> <a href="">Validate Binary Search Tree</a> &nbsp; <a
                      href="https://www.geeksforgeeks.org/a-program-to-check-if-a-binary-tree-is-bst-or-not/"> <i
                        class="fas fa-external-link-alt"></i> </a> </td>
                  <td>Easy</td>
                  <td> <a href=""><i class="fas fa-file-alt"></i></a></td>
                  <td><i class="fas fa-lock-open"></i></td>
                  <td> <a href=""><i class="far fa-trash-alt"></i></a></td>
                </tr>
                <tr>
                  <td scope="row">3</td>
                  <td class="title"><a href="">Minimal Coverage</a> &nbsp; <a
                      href="https://codeforces.com/problemset/problem/1579/G"> <i class="fas fa-external-link-alt"></i>
                    </a>
                  </td>
                  <td>Hard</td>
                  <td><a href=""></a></td>
                  <td><i class="fas fa-lock"></i></td>
                  <td><a href=""><i class="far fa-trash-alt"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-3  container" style="padding-right: 40px;">
        <div class="row add-question">
          <div class="col" style=" display: flex; align-items: center; justify-content: center;">
            <button type="button" class="btn add-question-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <span>
                <i class="fas fa-heart" style="color: rgb(194, 51, 51);"></i>
                &nbsp Add Question
              </span>
            </button>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"> <span class="gray"> Contibute Question </span>
                    </h5>
                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <form action="">
                        <div class="row">
                          <div class="col-5">
                            <label for="title">
                              <h5 class="gray">Title *</h5>
                            </label>
                            <br>
                            <input type="text" id="title" class="form-control" name="title" placeholder="Pick a title"
                              required>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <label for="topic">
                              <h5 class="gray">Topic * </h5>
                            </label>
                            <br>
                            <div class="d-flex flex-wrap">
                              <div class="p-2 bd-highlight">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <label class="form-check-label" for="flexCheckDefault">
                                    Array
                                  </label>
                                </div>
                              </div>
                              <div class="p-2 bd-highlight">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <label class="form-check-label" for="flexCheckDefault">
                                    Stack
                                  </label>
                                </div>
                              </div>
                              <div class="p-2 bd-highlight">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <label class="form-check-label" for="flexCheckDefault">
                                    Queue
                                  </label>
                                </div>
                              </div>
                              <div class="p-2 bd-highlight">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <label class="form-check-label" for="flexCheckDefault">
                                    Tree
                                  </label>
                                </div>
                              </div>
                              <div class="p-2 bd-highlight">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <label class="form-check-label" for="flexCheckDefault">
                                    Dynamic Programming
                                  </label>
                                </div>
                              </div>
                              <div class="p-2 bd-highlight">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <label class="form-check-label" for="flexCheckDefault">
                                    Linked List
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <label for="source">
                              <h5 class="gray">Source *</h5>
                            </label>
                            <br>
                            <input type="text" id="source" class="form-control" name="source"
                              placeholder="Eg : https://leetcode.com/problems/array-nesting/" required>
                          </div>
                        </div>
                        <div class="row" style="margin-bottom: 0;">
                          <div class="col d-flex flex-row justify-content-end bd-highlight">
                            <div class="p-2 bd-highlight"><button type="button" class="btn btn-sm btn-danger"
                                data-bs-dismiss="modal">Discard</button></div>
                            <div class="p-2 bd-highlight"><button type="submit"
                                class="btn btn-sm btn-success">Submit</button></div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="seperator">
        <div class="row user-handle">
          <div class="col user-search">
            <input type="text" class="form-control" placeholder="user search">
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-light btn-sm find"> Find </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>