
a{
    text-decoration: none;
}


td , th {
    text-align: center;
}



.navbar{
    padding: 3px 0;
}
.logo{
    margin: 0 0 0 50px;
}
.menu-bar {
    margin-right: 30px;
}
.btn {
    position: relative;
    margin-right : 10px; 
}
.seperator {
    margin: 0;
    color: #d2d4d6;
}


.table>tbody>tr:nth-child(odd)>td, 
.table>tbody>tr:nth-child(odd)>th {
   background-color: #d2d4d618; 
 }

.search-bar{
    border-radius: 1020px;
    height: 34px;
}

.topic-search{
    margin: 10px 30px 20px 10px;
    border-radius: 10px;
    height: 34px;
    width: 175px;
}

.title{
    color:  rgb(77, 189, 223);
    width: 450px;
}

.topic-list{
    height: 150px;
    overflow-y: scroll;
}

.fa-file-alt{
    color:#08c;
}
.fa-external-link-alt{
    color: rgb(77, 189, 223);
}

.fa-lock , .fa-lock-open{
    color: gray;
}

.fa-trash-alt{
    color: rgb(214, 31, 31);
    visibility:hidden;
}

.add-question{
    margin-bottom: 17px;
}

.add-question-btn:hover{
    background-color: #ecf0f1;
}
.gray{
    color: gray;
}

.modal-header{
    padding-top: 12px;
    padding-bottom: 12px;
}

.modal-body .row{
    margin-bottom: 30px;
}

.flex-row{
    padding-right: 0px;
}

.dropdown-item:active{
    color: black;
    background-color: #ecf0f1;
}

.user-handle{
    margin-top: 30px;
}
.user-search{
    padding: 0px 0px 0px 12px;
}

.user-search > .form-control{
    border-radius: 1000px;
    height: 30px;
}

tr:hover .fa-trash-alt{
    visibility: visible;
}

.find{
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    margin-right: 0px;
    display: flex;
    float: right;
}
.find:hover{
    background-color: #ecf0f1;    
}
