
a{
    text-decoration: none;
}


td , th {
    text-align: center;
}



.navbar{
    padding: 3px 0;
}
.logo{
    margin: 0 0 0 50px;
}
.menu-bar {
    margin-right: 30px;
}
.btn {
    position: relative;
    margin-right : 10px; 
}
.seperator {
    margin: 0;
    color: #d2d4d6;
}


.table>tbody>tr:nth-child(odd)>td, 
.table>tbody>tr:nth-child(odd)>th {
   background-color: #d2d4d618; 
 }

.content{
    display: inline-block;
    margin-left: 250px;
    margin-top: 100px;
}

.search-bar > .form-control{
    border-radius: 1020px;
    width: 500px;
    height: 34px;
    margin-right: 20px;
    display: inline-block;
}

.topic-search{
    margin: 10px 30px 20px 10px;
    height: 34px;
    width: 175px;
}


.search-bar{
    display: inline-flex;
    margin-bottom: 10px;
}
.title{
    color:  rgb(77, 189, 223);
    width: 450px;
}
.topic-list{
    height: 150px;
    overflow-y: scroll;
    
}

.fa-file-alt{
    color:#08c;
}
.fa-external-link-alt{
    color: rgb(77, 189, 223);
}

.fa-lock , .fa-lock-open{
    color: gray;
}

.fa-trash-alt{
    color: rgb(214, 31, 31);
    visibility:hidden;
}

.add-question-btn:hover{
    background-color: #ecf0f1;
}
.dropdown-item:active{
    color: black;
    background-color: #ecf0f1;
    
}

tr:hover .fa-trash-alt{
    visibility: visible;
}
